@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.actions {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $color-orange;
  border-radius: 6px;
}

.actions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 22px 21px 22px 24px;

  @include font(18px, 18px, $font-weight-bold, normal, none);
  &:nth-child(2) {
    background-color: $color-orange-light;
    border-radius: 6px 6px 0 0;
  }
  &:nth-child(3) {
    background-color: $color-orange-light;
    background-color: $color-yellow-saffron;
    border-radius: 6px 6px 0 0;
  }
  &:nth-child(4) {
    border-radius: 6px;
    background-color: $color-yellow-sunrise;
  }
}

.actions__text {
  max-width: 150px;
  margin: 0;

  color: $color-blue-sapphire;
}
