@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.companions {
  font-weight: $font-weight-light;
  color: $color-white;

  background-color: $color-grey-lavender;
}

.companions__container {
  padding-top: 34px;
  padding-bottom: 31px;

  background-color: $color-blue-cobalt;
  border-radius: 0 0 25px 25px;
}

.companions__wrapper {
  padding: 34px 29px 54px 24px;
}

.companions__title {
  color: $color-orange;
}

.companions__text {
  &--bold {
    font-weight: $font-weight-bold;
  }
}

.companions__cards {
  margin-bottom: 20px;
}
