.login-button {
  display: inline-block;
  margin: 0;
  padding: 12px 81px 8px 78px;
  box-sizing: border-box;

  @include font(17px, 30px, $bold, normal, uppercase);
  text-align: center;
  color: $basic-blue;

  background-color: $basic-yellow;
  border-radius: 25px;
}
