//@import "/source/sass/common/variables";
//@import "/source/sass/common/mixins";

.menu {
  background-color: $color-white;
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 28px;
  padding-bottom: 31px;
}

.menu__toggle {
  position: relative;

  width: 25px;
  height: 11px;

  background-color: transparent;
  border: none;
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: $color-white;
    border-radius: 1.5px;
  }
  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: $color-white;
    border-radius: 1.5px;
  }
}

.menu__user-navigation {
  margin-bottom: 51px;
}
