@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.alphabet {
  display: none;

  min-width: 220px;
  min-height: 220px;
  box-sizing: border-box;
  z-index: 1;

  border-collapse: collapse;

  @include tablet {
    top: 70px;
    width: 100%;
    padding: 35px 0 33px 27px;

    background-color: $color-white;
  }

  @include desktop {
    width: auto;
    padding: 17px 88px 21px 12px;

    border-collapse: separate;
    border-spacing: 15px;
  }
}

.alphabet--show {
  display: grid;
}

.alphabet__item {
  min-width: 44px;
  min-height: 44px;
  box-sizing: border-box;

  background-color: $color-white;
  border: 1px solid $color-telegray-light;

  @include tablet {
    min-width: 55px;
    min-height: 70px;
  }

  @include desktop {
    min-width: 60px;
    min-height: 70px;
  }
}

.alphabet__item button {
  min-width: 43px;
  min-height: 43px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;

  @include font(14px,18px, $font-weight-medium);
  color: $color-blue-ocean;

  background-color: transparent;
  border: none;

  @include tablet {
    min-width: 54px;
    min-height: 69px;

    @include font(20px, 20px,$font-weight-medium);
  }

  @include desktop {
    min-width: 58px;
    min-height: 68px;
  }
}


.alphabet__country-selection {
  position: absolute;
  top: 219px;
  left: 0;

  @include reset-list;
  width: 100%;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;

  background-color: $color-white;
  border: 1px solid $color-telegray-light;

  @include tablet {
    left: auto;
    top: 0;
    right: -40px;

    width: 206px;
    padding-top: 35px;
    border: none;
    border-left: 1px solid $color-telegray-light;
  }

  @include desktop {
    right: -240px;

    min-width: 241px;
  }
}

.alphabet__country-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin-bottom: 10px;
  }
}

.alphabet__country-item button {
  width: 100%;
  min-height: min-content;

  font: inherit;

  @include font(16px, 22px, $font-weight-normal);
  text-align: left;
  color: $color-black-bluish;

  @include tablet {
    @include font(20px, 20px, $font-weight-normal);
  }
}
