@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.calendar {
  width: 100%;

  @include font(14px, 18px, $font-weight-normal);
  border-spacing: 0;
  border-collapse: collapse;

  @include tablet {
    @include font(18px, 18px, $font-weight-normal);
  }
}

.calendar__day {
  padding: 8px 8px 5px;
  box-sizing: border-box;

  color: rgba($color-black-bluish, 0.3);
  text-align: center;

  border: 1px solid $color-grey-light;

  @include tablet {
    padding: 25px;
    min-height: 70px;
  }
}

.calendar__title {
  text-align: center;
  color: $color-black-bluish;

  &--full {
    display: none;

    @include tablet {
      display: inline;
    }
  }
}

.calendar__title-day {
  padding: 0 0 10px;

  &--holiday {
    color: $color-orange-hotred;
  }
}

.day__start-month {
  display: none;
}
