@import "../common/variables";
@import "../common/mixins";

.contacts {
  grid-column: 1/-1;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    order: 5;
    padding-left: 60px;
  }
}

.contacts__telephone {
  display: flex;
  align-items: center;
  color: $color-blue-cobalt;

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    margin-right: 16px;

    background-color: $color-blue-dark;
    border-radius: 22px;
  }
}

.contacts__email {
  display: flex;
  align-items: center;

  color: $color-blue-cobalt;

  &::before {
    content: "";

    width: 45px;
    height: 45px;
    margin-right: 16px;

    background-color: $color-blue-dark;
    border-radius: 22px;
  }
}
