@import "../common/variables";
@import "../common/mixins";

.contacts {
  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;
}

.contacts__telephone,
.contacts__email {
  display: flex;
  align-items: center;
}
