@import "../common/variables";
@import "../common/mixins";

.copyright__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include font(16px, 16px, $font-weight-normal);
  color: $color-black-bluish;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    @include font(20px, 20px, $font-weight-normal);
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    margin-left: 23px;
  }
}
