@import "../common/variables";
@import "../common/mixins";

.country-card {
  position: relative;
  display: grid;
  grid-template-rows: 100px;

  max-height: 190px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 486px) {
    grid-template-columns: 1fr 185px;
    grid-template-rows: 140px;
  }
}

.country-card__photo {
  width: 100%;

  border-radius: 10px 10px 0 0;

  @media (min-width: 485px) {
    order: 1;
    grid-column: 2/-1;
    grid-row: 1/-1;

    border-radius: 0 10px 10px 0;
  }
}

.country-card__flag {
  position: absolute;
  top: 86px;
  left: 25px;

  z-index: 2;

  @media (min-width: 486px) {
    top: 23px;
    left: auto;
    right: 152px;
  }
}

.country-card__wrapper {
  display: flex;
  justify-content: space-between;

  max-height: 90px;
  padding: 26px 24px 24px 24px;
  box-sizing: border-box;
  z-index: 1;

  background-color: $color-white;
  border-radius: 10px;

  @media (min-width: 486px) {
    order: 0;
    grid-column: 1/2;
    grid-row: 1/2;

    flex-direction: column;
    min-height: 140px;

    border-radius: 10px 0 0 10px;
  }
}

.country-card__title {
  margin: 0;
  padding: 0;

  @include font(21px, 21px, $font-weight-bold);
  color: $color-black;
}

.country-card__promo {
  margin: 0;
  padding: 0;

  @include font(16px, 18px, $font-weight-medium);
  color: rgba($color-black-bluish, 0.3);
}

.country-card__stats {
  display: flex;
  align-items: center;

  @include font(16px, 20px, $font-weight-medium);
  color: rgba($color-blue-sapphire, 0.3);

  &::before {
    content: "";

    width: 14px;
    height: 14px;
    margin-right: 5px;
    // Заглушка
    background-color: tomato;
  }
}
