@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    grid-template-columns: auto 35px 35px;
    padding: 28px 25px 25px 28px;

    background-color: $color-white;
    border-radius: 20px;
  }

  @include desktop {
    order: 2;
  }
}

.pagination__list {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;

    @include reset-list;
    margin-right: auto;
  }
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 50px;
  min-height: 50px;

  @include font(20px, 20px, $font-weight-bold);
  color: $color-blue-ocean;

  border-radius: 50%;

  &--current {
    background-color: $color-yellow-sunrise;
  }
}

.pagination__prev-button,
.pagination__next-button {
  min-width: auto;
}

.pagination__prev-button {
  box-sizing: border-box;

  border-right: 1px solid $color-white-smoky;
}
