@import "../common/variables";
@import "../common/mixins";

.social {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  padding: 41px 0;

  @media (min-width: $width-tablet) {
    order: 6;
    justify-content: start;

    margin: 0;
    padding-left: 80px;
  }
}

.social__link {
  width: 21px;
  height: 21px;

  margin-right: 20px;

  background-color: tomato;

  &:last-child {
    margin-right: 0;
  }
}
