@import "../common/variables";
@import "../common/mixins";

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 41px 0;
}

.social__link {
  width: 21px;
  height: 21px;

  margin-right: 20px;

  background-color: tomato;

  &:last-child {
    margin-right: 0;
  }
}
