@import "../common/variables";
@import "../common/mixins";

.travel-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  line-height: 10px;
}

.travel-list__image {
  width: 24px;
  height: 24px;

  opacity: 0.15;

  &--checked {
    opacity: 1;
  }
}

.travel-list__item {
  margin-right: 9px;

  &:last-child {
    margin-right: 0;
  }
}
