@import "source/sass/common/variables";

.hero {
  color: $color-white;

  //background-color: $basic-blue;
}

.hero__wrapper {
  background-image: url("../../img/globe-back-mobile-1.png");
  background-repeat: no-repeat;
}
