@import "variables";
@import "mixins";

.button-change-photo {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;

  @include font(20px, 18px, $font-weight-medium);
  text-transform: uppercase;
  text-align: center;
  color: $color-blue-sapphire;


  background-color: $color-lavender;
  border-radius: 20px;
}

.button {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0;
  padding: 0;

  font: inherit;

  @include font(17px, 30px, $font-weight-bold);
  text-transform: uppercase;
  text-align: center;
  color: $color-blue-sapphire;

  border: none;
  background-color: transparent;
}

.button-round {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 8px;
  box-sizing: border-box;

  font: inherit;

  @include font(17px, 30px, $font-weight-bold);
  text-transform: uppercase;
  text-align: center;
  color: $color-blue-sapphire;

  background-color: $color-yellow-sunrise;
  border-radius: 25px;
  border: none;

  @include mq($width-tablet) {
    max-width: 188px;
    margin-left: auto;
    padding: 15px 30px;

    @include font(20px, 20px, $font-weight-normal);
  }

  @include mq($width-desktop) {
    @include font(20px, 20px, $font-weight-bold);
  }
}

.button-business {
  display: flex;
  justify-content: center;

  font-weight: $font-weight-bold;
  color: $color-blue-screen;
}

.button-profile {
  margin: 0;
  padding: 21px 78px;
  box-sizing: border-box;

  font: inherit;

  @include font(16px, 24px, $font-weight-bold);
  text-transform: uppercase;

  background-color: $color-white-smoky-light;
  border: none;
  border-radius: 0 0 25px 25px;
}

.button-rect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 22px 23px;
  box-sizing: border-box;

  @include font(18px, 18px, $font-weight-bold);
  color: $color-blue-ocean;
  background-color: $color-yellow-sunrise;
  border-radius: 10px;

  &::after {
    content: "";
    height: 0;
    border-left: 12px solid $color-blue-ocean;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
  }
}

.button-feedback {
  display: block;
  width: 100%;
  max-height: 62px;
  margin: 0;
  padding: 22px 85px 22px 25px;
  box-sizing: border-box;

  font: inherit;

  @include font(18px, 18px, $font-weight-bold);

  border-radius: 10px;
  border: none;

  @include mq($width-tablet) {
    max-height: 80px;
    padding: 28px 36px;

    border-radius: 25px 0 0 25px;
  }

  &::placeholder {
    color: rgba($color-black-bluish, 0.3);

    @include mq($width-tablet) {
      @include font(24px, 24px, $font-weight-bold);
    }
  }
}

.button-feedback__icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 62px;
  box-sizing: border-box;

  font: inherit;
  color: $color-blue-ocean;

  background-color: $color-yellow-sunrise;
  border-radius: 10px;
  border: none;

  @include mq($width-tablet) {
    position: relative;
    flex-shrink: 0;
    width: 80px;
    height: 80px;

    border-radius: 0 25px 25px 0;
  }

  @include mq($width-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 330px;
  }

  &--full {
    display: none;

    @include mq($width-desktop) {
      display: block;

      margin-left: 35px;

      @include font(24px, 24px, $font-weight-bold);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 28px;

    width: 12px;

    border-left: 12px solid $color-blue-ocean;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;

    @include mq($width-tablet) {
      top: 30px;
      left: 36px;
    }

    @include mq($width-desktop) {
      position: relative;
      top: 0;
      left: 0;

      margin-right: 22px;

    }
  }
}

.button-module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-module__wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 8px;

  @include font(16px, 16px, $font-weight-medium);
  text-transform: uppercase;
  color: $color-blue-ocean;
}

.button-module__caption {
  color: rgba($color-blue-ocean, 0.3);
}

.up-down-button__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 14px;
  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-radius: 4px;
}

.button-down {
  position: relative;

  width: 14px;
  height: 14px;

  background-color: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;

    width: 14px;
    height: 2px;

    background-color: $color-grey-greaterly;
  }
}

.button-up {
  position: relative;

  width: 14px;
  height: 14px;

  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;

    width: 2px;
    height: 14px;

    background-color: $color-grey-greaterly;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;

    width: 14px;
    height: 2px;

    background-color: $color-grey-greaterly;
  }
}

.up-down-button__input {
  font: inherit;

  @include font(14px, 14px, $font-weight-medium);
  color: $color-blue-ocean;

  border: none;
}

.checkbox-module label {
  display: flex;
  align-items: center;

  @include font(15px, 15px, $font-weight-normal);

  &::before {
    content: "";

    width: 26px;
    height: 26px;
    margin-right: 13px;

    border: 1px solid $color-telegray-light;
    border-radius: 4px;
  }
}

.month-module__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 12px;

  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
}

.month-module__prev {
  width: 9px;
  height: 18px;

  border: none;
  background-color: tomato;
}

.month-module__input {
  margin: 0;
  padding: 0;

  font: inherit;

  @include font(20px, 20px, $font-weight-bold);
  text-align: center;

  border: none;
}

.month-module__next {
  width: 9px;
  height: 18px;

  border: none;
  background-color: tomato;
}

.button-delete {
  position: absolute;
  top: -11px;
  right: -11px;

  width: 21px;
  height: 21px;

  background-color: $color-white-smoky;
  border: none;
  border-radius: 50%;

  transform: rotate(45deg);

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;

    width: 11px;
    height: 1px;

    background-color: $color-grey-agate;
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;

    width: 1px;
    height: 11px;

    background-color: $color-grey-agate;
  }
}

.button-close {
  position: relative;

  width: 10px;
  height: 10px;

  background-color: transparent;
  border: none;

  transform: rotate(45deg);

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 11px;
    height: 1px;

    background-color: $color-white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;

    width: 1px;
    height: 11px;

    background-color: $color-white;
  }
}

.button-X {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 40px;
  margin: 0;
  padding: 0;

  font: inherit;

  @include font(16px, 20px, $font-weight-bold);
  text-transform: uppercase;
  color: $color-blue-cobalt;

  background-color: $color-grey-light;
  border: none;
  border-radius: 20px;
}

.button-prev {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 134px;
  min-height: 50px;

  background-color: $color-white;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;

  &::before {
    content: "";

    width: 20px;
    height: 20px;

    background-color: tomato;
  }
}

.button-next {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 134px;
  min-height: 50px;

  background-color: $color-white;
  border-radius: 0 20px 20px 0;

  &::before {
    content: "";

    width: 20px;
    height: 20px;

    background-color: tomato;
  }
}

.button-sort-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 12px 0;

  font: inherit;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;
  color: $color-blue-ocean;

  background-color: transparent;
  border: none;
}
