@import "variables";
@import "mixins";

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.title {
  margin: 0 0 19px;
  padding: 0;

  @include font(24px, 24px, $font-weight-bold);
}

.page__title {
  position: relative;

  margin: 0;
  padding-top: 14px;
  padding-left: 25px;
  padding-bottom: 12px;

  @include font(36px, 36px, $font-weight-bold);
  color: $color-white;

  background-color: $color-cobalt-blue;
  border-radius: 0 0 25px 25px;

  &::after {
    content: "";

    position: absolute;
    bottom: -3px;
    left: 25px;

    width: 214px;
    height: 5px;
    z-index: 1;

    background-color: $color-orange;
    border-radius: 4px;
  }
}

.cross {
  position: relative;

  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;

  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;

    width: 2px;
    height: 18px;

    background-color: $color-blue-ocean;
    border-radius: 2px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    width: 18px;
    height: 2px;

    background-color: $color-blue-ocean;
    border-radius: 2px;
  }
}
