@import "variables";
@import "mixins";

.container {
  @include container(320px, 25px);
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  @include mq($width-tablet) {
    @include container(768px, 40px);
  }

  @include mq($width-desktop) {
    @include container(1440px, 58px);
  }
}

.title {
  margin: 0 0 19px;
  padding: 0;

  @include font(24px, 24px, $font-weight-bold);
}

.page__title-wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;

  background-color: $color-cobalt-blue;
  border-radius: 0 0 25px 25px;

  @include mq($width-tablet) {
    padding: 90px 75px 0;
  }
}

.page__title {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 14px 0 12px;

  @include font(36px, 36px, $font-weight-bold);
  color: $color-white;

  @include mq($width-tablet) {
    padding-bottom: 65px;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -3px;
    left: auto;

    width: 100%;
    height: 5px;
    z-index: 1;

    background-color: $color-orange;
    border-radius: 4px;

    @include mq($width-tablet) {
      height: 8px;
    }
  }

  @include mq($width-tablet) {
    @include font(60px, 60px, $width-tablet);
  }
}

.cross {
  position: relative;

  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;

  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;

    width: 2px;
    height: 18px;

    background-color: $color-blue-ocean;
    border-radius: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    width: 18px;
    height: 2px;

    background-color: $color-blue-ocean;
    border-radius: 2px;
  }
}

.rectangle {
  width: 10px;
  height: 6px;

  background-color: tomato;
}
