.container {
  @include container($width-mobile, 25px);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  @include tablet {
    @include container($width-tablet, 40px);
  }

  @include desktop {
    @include container($width-desktop, 60px);
  }
}

.title {
  margin: 0 0 19px;
  padding: 0;

  @include font(24px, 24px, $font-weight-bold);
}

.page__title {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 14px 0 12px;

  @include font(36px, 36px, $font-weight-bold);
  color: $color-white;

  @include tablet {
    padding-bottom: 65px;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -3px;
    left: auto;

    width: 100%;
    height: 5px;
    z-index: 1;

    background-color: $color-orange;
    border-radius: 4px;

    @include tablet {
      height: 8px;
    }
  }

  @include tablet {
    @include font(60px, 60px, $width-tablet);
  }
}

.cross {
  position: relative;

  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;

  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;

    width: 2px;
    height: 18px;

    background-color: $color-blue-ocean;
    border-radius: 2px;
  }
}

.error-message {
  display: none;
}
