@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.catalog-page .header {
  background-color: $color-cobalt-blue;

  &--closed {
    background-color: $color-cobalt-blue;
  }

  &--opened {
    background-color: $color-white;
  }
}

.catalog-page .header__menu {
  background-color: $color-cobalt-blue;

  &--closed {
    background-color: $color-cobalt-blue;
  }

  &--opened {
    background-color: $color-white;
  }

  &--closed .header__user-navigation {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &--closed .header__contacts {
    display: none;

    @include desktop {
      display: flex;
    }
  }
}

.catalog-page__sort {
  @include desktop {
    order: 1;
  }
}

.catalog-page__pagination {
  @include desktop {
    order: 2;
  }
}

.catalog-page .footer {
  position: relative;

  z-index: 4;
}
