@import "../common/variables";

.about-us {
  font-weight: $font-weight-light;
  color: $color-white;

  background-color: $color-white-smoky;
}

.about-us__container {
  background-color: $color-blue-deep;
  border-radius: 0 0 25px 25px;
}

.about-us__wrapper {
  padding: 33px 35px 82px 24px;
}

.about-us__title {
  margin-bottom: 19px;

  color: $color-orange;
}

.about-us__text {
  margin: 0 0 20px;
  padding: 0;

  &--bold {
    margin-bottom: 0;

    font-weight: $font-weight-bold;
  }
}
