@import "../common/variables";
@import "../common/mixins";

.companions {
  position: relative;

  margin-top: -20px;

  font-weight: $font-weight-light;
  color: $color-white;

  background-color: $color-blue-cobalt;
  border-radius: 0 0 25px 25px;
  z-index: 4;

  @include tablet {
    margin-top: -50px;

    border-radius: 0 0 50px 50px;
  }
}

.companions__container {
  padding-top: 60px;
  padding-bottom: 30px;

  background-image: url("../../img/companions-bg-rect-mobile.png"), url("../../img/rogovaya-bg-companions-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 60px, 0 300px;


  @include tablet {
    @include container($width-tablet, 75px);

    padding-top: 120px;
    padding-bottom: 90px;

    background-image: url("../../img/smolov-companion-bg-mobile.png"), url("../../img/companions-bg-rect-tablet.png"), url("../../img/rogovaya-bg-companions-tablet.png");
    background-repeat: no-repeat;
    background-position: 40px 425px, 60px 70px, calc(100% - 75px) 70px;
  }

  @include desktop {
    @include container($width-desktop, 60px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto min-content;

    padding-bottom: 135px;

    background-position: 547px 205px, 40px 120px, 193px 442px;
  }
}

.companions__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 35px 25px 55px;

  background-image: url("../../img/smolov-companion-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: top right;

  @include tablet {
    padding: 68px 0 60px;
    background-image: none;
  }

  @include desktop {
    max-width: 428px;
    padding: 60px 70px;
  }
}

.companions__title {
  color: $color-orange;

  @include tablet {
    margin-bottom: 55px;

    @include font(45px, 45px, $font-weight-bold);
  }
}

.companions__text {
  max-width: 275px;

  margin: 0 0 25px;

  @include tablet {
    max-width: 429px;
    margin-bottom: 40px;

    @include font(28px, 34px, $font-weight-light);
  }

  &--bold {
    max-width: 260px;
    margin-bottom: 0;

    font-weight: $font-weight-bold;

    @include tablet {
      @include font(21px, 24px, $font-weight-bold);
    }
  }
}

.companions__cards {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 81px;
  }

  @include desktop {
    grid-column: 2/-1;
    grid-row: 1/-1;
    align-items: center;

    margin-bottom: 0;
    padding-top: 60px;
  }
}

.companions__cards-list {
  justify-content: space-around;

  @include tablet {
    grid-template-columns: auto auto;
  }
}

.companions .user-card__user {
  @include tablet {
    @include font(24px, 22px, $font-weight-bold);
  }
}

.companions .travel-list {
  @include tablet {
    margin-bottom: 25px;
  }
}

.companions__level {
  position: absolute;
  top: 17px;
  left: 17px;
}

.companions .button-rect {
  @include tablet {
    padding: 29px 33px;

    @include font(24px, 24px, $font-weight-bold);

    border-radius: 20px;
  }

  @include desktop {
    max-width: 280px;
    max-height: 80px;
    margin-left: 70px;
  }
}
