@import "../common/variables";
@import "../common/mixins";

.directions {
  position: relative;

  margin-top: -20px;
  z-index: 5;

  font-weight: $font-weight-light;
  color: $color-black-bluish;

  background-color: $color-white-smoky;
  border-radius: 0 0 25px 25px;

  @include tablet {
    margin-top: -50px;

    border-radius: 0 0 50px 50px;
  }
}

.directions__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding-top: 70px;
  padding-bottom: 35px;

  @include tablet {
    @include container($width-tablet, 75px);
    padding-top: 120px;
    padding-bottom: 80px;

    background-image: url("../../img/directions-bg-flags@1x.png"), url("../../img/directions-bg-rect@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 40px) 130px, 40px 450px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-column-gap: 170px;

    @include container($width-desktop, 60px);
    padding-top: 140px;
    padding-bottom: 90px;

    background-position: calc(100% - 60px) 140px, 70px 140px;
  }
}

.directions__wrapper {
  padding: 0 30px 60px 24px;

  @include tablet {
    padding-bottom: 104px;
  }

  @include desktop {
    order: 1;
    grid-column: 2/-1;
    grid-row: 1/2;

    padding: 0;
    padding-top: 70px;
  }
}

.directions__title {
  color: $color-orange;

  @include tablet {
    @include font(45px, 45px, $font-weight-bold);
  }

  @include tablet {
    margin-bottom: 60px;
  }
}

.directions__promo {
  margin: 0;
  padding: 0;

  @include tablet {
    @include font(28px, 33px, $font-weight-light);
  }

  @include desktop {
    margin-bottom: 100px;
  }
}

.directions__cards {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    grid-row: 1/-1;

    margin-bottom: 0;
    padding-top: 70px;
    padding-left: 70px;
  }
}

.directions .button-rect {
  @include tablet {
    @include font(24px, 24px, $font-weight-bold);
  }

  @include desktop {
    max-width: 280px;
    min-height: 80px;
    margin-bottom: 50px;

    border-radius: 20px;
  }
}
