@import "../common/variables";
@import "../common/mixins";

.feedback {
  position: relative;

  margin-top: -20px;

  z-index: 2;

  @include font(16px, 22px, $font-weight-light);
  color: $color-white;

  background-color: $color-blue-cobalt;
  border-radius: 0 0 25px 25px;
}

.feedback__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.feedback__wrapper {
  padding: 70px 0 30px;

  @include tablet {
    padding: 75px 35px 60px;
  }

  @include desktop {
    padding: 105px 75px;
  }
}

.feedback__title {
  margin: 0;

  text-align: center;
  color: $color-orange;

  @include tablet {
    @include font(45px, 45px, $font-weight-bold);
  }
}

.feedback__br-mobile {
  @include tablet {
    display: none;
  }
}

.feedback__text {
  max-width: 210px;
  margin: 0 auto;
  padding: 20px 30px 30px 30px;

  text-align: center;

  @include tablet {
    max-width: 100%;
    padding: 60px 0;

    @include font(28px, 32px, $font-weight-light);
  }

  &--contact {
    padding: 60px 0 40px;
  }
}

.feedback__link {
  text-decoration: underline;
  color: $color-yellow-sunrise;
}

.feedback__form {
  position: relative;

  @include tablet {
    display: flex;
  }
}

.feedback__contacts {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feedback__telephone,
.feedback__email {
  color: $color-yellow-sunrise;

  @include tablet {
    @include font(28px, 28px, $font-weight-bold);
  }

  &::before {
    width: 45px;
    height: 45px;
    margin-right: 16px;

    @include tablet {
      width: 68px;
      height: 68px;
      margin-right: 22px;
    }
  }
}

.feedback__telephone {
  @include desktop {
    margin-right: 110px;
  }
}
