@import "../common/variables";
@import "../common/mixins";

.footer {
  position: relative;

  margin-top: -20px;
  z-index: 1;

  background-color: $color-white;
  border-radius: 25px 25px 0 0;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 140px;
  }

  @include desktop {
    height: 154px;
  }
}

.footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0 20px;

  @include tablet {
    justify-content: start;

    padding: 0;
  }
}

.footer__social {
  padding: 20px 0 40px;

  @include tablet {
    padding: 0;
  }
}

.footer__social .social__link {
  width: 45px;
  height: 45px;
  margin-right: 0;

  background-color: $color-yellow-sunrise;
  border-radius: 50%;

  @include tablet {
    width: 62px;
    height: 62px;
  }
}

.footer__copyright {
  padding: 13px 0 18px 0;
  border-top: 1px solid $color-white-smoky-light;

  @include tablet {
    padding: 0;
    border: none;
  }
}
