@import "../common/variables";
@import "../common/mixins";

.header {
  position: relative;
  color: $color-white;

  background-color: $color-blue-sapphire;

  @include tablet {
    background-color: $color-cobalt-blue;
  }

  @include desktop {
    background-color: $color-blue-sapphire;
  }

  &--opened {
    background-color: $color-white;

    @include desktop {
      background-color: $color-blue-cobalt;
    }
  }
}

.header__container {
  padding-top: 25px;
}

.header__menu {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 73px;
  grid-template-areas:
    "logo toggle"
    "menu-nav menu-nav"
    "items-wr items-wr"
    "social social";
  align-items: center;

  padding-bottom: 0;
  box-sizing: border-box;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 132px;

    grid-template-areas:
      "logo toggle user-nav"
      "menu-nav menu-nav menu-nav"
      "contacts contacts contacts"
      "social social social";
  }

  @include desktop {
    display: flex;
    min-height: 100px;

    background-color: $color-blue-sapphire;
  }

  &--opened {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 10;

    background-color: $color-white;

    @include tablet {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include desktop {
      background-color: $color-blue-cobalt;
    }
  }

  &--opened .header-navigation {
    display: block;

    @include desktop {
      display: flex;
    }
  }

  &--opened .header__menu-items-wrapper {
    position: static;
    grid-area: items-wr;
    align-self: start;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "user-nav"
      "contacts";

    //@include tablet {
    //
    //}
  }

  &--opened .header__user-navigation {
    grid-area: user-nav;
    order: 0;

    display: flex;
    min-height: 50px;
    margin-bottom: 50px;

    @include tablet {
      grid-column: 3/-1;
      grid-row: 1/2;

      margin-bottom: 0;
    }
  }
}

.header__logo-link {
  grid-area: logo;

  &--opened .header__logo-image {
    display: none;

    @include desktop {
      display: block;
    }

    &--blue {
      display: block;

      @include desktop {
        display: none;
      }
    }
  }
}

.header__logo-image {
  width: 96px;
  height: 15px;

  cursor: pointer;

  @include tablet {
    width: 166px;
    height: 42px;
  }

  @include desktop {
    width: 200px;
    height: 52px;
  }

  &--blue {
    display: none;
    width: 96px;
    height: 15px;

    cursor: pointer;

    @include tablet {
      width: 166px;
      height: 42px;
    }

    @include desktop {
      width: 200px;
      height: 52px;
    }
  }
}

.header__menu-toggle {
  position: relative;
  grid-area: toggle;

  width: 25px;
  height: 25px;
  margin-left: auto;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: $color-grey-greaterly;
    border-radius: 1.5px;
  }

  &::before {
    top: 7px;
  }

  &::after {
    top: auto;
    bottom: 7px;
  }

  &--opened {
    &::before {
      top: 11px;
      height: 2px;

      transform: rotate(-45deg);
    }

    &::after {
      top: 11px;
      height: 2px;

      transform: rotate(45deg);
    }
  }

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    display: none;
  }
}

.header__menu-items-wrapper {
  position: absolute;
  top: 457px;

  display: grid;
  grid-auto-columns: min-content auto;
  grid-template-areas: "contacts nav";

  min-width: 100%;
  z-index: 1;

  @include tablet {
    position: static;
    display: contents;
  }
}

.header__user-navigation {
  grid-area: nav;

  @include tablet {
    grid-column: 3/-1;
    grid-row: 1/2;

    display: flex;

    margin-left: auto;
  }

  @include desktop {
    order: 4;

    margin-left: 0;
  }
}

.header__user-navigation-button {
  align-items: center;

  &:hover,
  &:focus {
    background-color: $color-yellow-saffron;
  }

  &:active span {
    opacity: 0.3;
  }

  @include tablet {
    margin: 0;

    @include font(20px, 20px, $font-weight-bold);
  }
}

.header__contacts {
  grid-area: contacts;
  display: flex;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;

  @include tablet {
    display: none;
    order: 3;
    padding-left: 60px;
    padding-bottom: 130px;
  }

  @include desktop {
    order: 3;
    display: flex;

    margin: 0 0 0 auto;
    padding: 0;
  }

  &--opened {
    display: flex;
    flex-direction: column;

    margin-bottom: 40px;

    @include tablet {
      display: flex;

      grid-area: contacts;
    }

    @include desktop {
      flex-direction: row;
      margin: 0 0 0 auto;
    }
  }

  &--opened .header__telephone,
  &--opened .header__email {
    &--full {
      display: inline;
    }

    &:hover .header__telephone-image-wrapper,
    &:focus .header__telephone-image-wrapper,
    &:hover .header__email-image-wrapper,
    &:focus .header__email-image-wrapper {
      background-color: $color-blue-dark;
    }
  }

  &--opened .header__telephone-image-wrapper,
  &--opened .header__email-image-wrapper {
    width: 45px;
    height: 45px;

    background-color: $color-blue-dark;

    @include tablet {
      width: 68px;
      height: 68px;
    }
  }

  &--opened .header__telephone-image {
    display: none;

    &--opened {
      width: 18px;
      height: 18px;
      fill: $color-yellow-sunrise;

      @include tablet {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--opened .header__mail-image {
    fill: $color-yellow-sunrise;

    @include tablet {
      width: 28px;
      height: 19px;
    }
  }
}

.header__telephone,
.header__email {
  display: flex;
  align-items: center;

  color: $color-blue-cobalt;

  @include tablet {
    @include font(28px, 28px, $font-weight-bold);
  }

  &--full {
    display: none;
    margin-left: 15px;

    @include desktop {
      display: none;
    }
  }
}

.header__telephone {
  &:hover .header__telephone-image-wrapper,
  &:focus .header__telephone-image-wrapper {
    background-color: $color-orange-hover;
  }

  &:active .header__telephone-image {
    opacity: 0.3;
  }
}

.header__email {
  &:hover .header__email-image-wrapper,
  &:focus .header__email-image-wrapper {
    background-color: $color-orange;
  }

  &:active .header__mail-image {
    opacity: 0.3;
  }
}

.header__telephone-image-wrapper,
.header__email-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  @include desktop {
    width: 50px;
    height: 50px;
  }
}

.header__telephone-image-wrapper {
  background-color: $color-orange;
}

.header__email-image-wrapper {
  background-color: $color-yellow-saffron;
}

.header__telephone-image,
.header__mail-image {
  width: 18px;
  height: 18px;

  fill: $color-blue-sapphire;

  @include desktop {
    width: 18px;
    height: 18px;
  }
}

.header__social {
  display: none;
  flex-wrap: wrap;
  justify-content: center;

  &--opened {
    grid-column: 1/-1;

    display: flex;
    margin-bottom: 40px;

    @include desktop {
      display: none;
    }
  }

  &--opened .header__social-link {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include tablet {
    order: 4;
    justify-content: start;

    padding-left: 80px;
  }
}

.header__social-link {
  width: 21px;
  height: 21px;

  margin-right: 20px;

  text-align: center;

  @include tablet {
    width: 28px;
    height: 28px;

    margin-right: 35px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.header__social-link svg {
  width: 21px;
  height: 21px;

  @include tablet {
    width: 28px;
    height: 28px;
  }
}
