@import "../common/variables";
@import "../common/mixins";

.header {
  color: $color-white;

  background-color: $color-blue-sapphire;

  @include tablet {
    background-color: $color-cobalt-blue;
  }

  @include desktop {
    background-color: $color-blue-cobalt;
  }

  &--opened {
    background-color: $color-white;

    @include desktop {
      background-color: $color-blue-cobalt;
    }
  }
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 73px;
  align-items: center;

  padding-bottom: 0;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 132px;
  }

  @include desktop {
    display: flex;
    min-height: 100px;
  }

  &--opened {
    background-color: $color-white;

    padding-bottom: 90px;

    @include desktop {
      background-color: $color-blue-cobalt;
    }
  }

  &--opened .header__logo-image {
    display: none;

    @include desktop {
      display: block;
    }

    &--blue {
      display: block;

      @include desktop {
        display: none;
      }
    }
  }

  &--opened .header-navigation {
    display: block;

    @include desktop {
      display: flex;
    }
  }

  &--opened .header__user-navigation {
    display: flex;
  }

  &--opened .header__contacts {
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;

    margin-bottom: 40px;

    @include desktop {
      flex-direction: row;
      margin: 0 0 0 auto;
    }

    &--full {
      display: inline;
    }
  }

  &--opened .header__social {
    grid-column: 1/-1;

    display: flex;

    @include desktop {
      display: none;
    }
  }
}

.header__logo-image {
  width: 96px;
  height: 15px;

  cursor: pointer;

  @include tablet {
    width: 166px;
    height: 42px;
  }

  @include desktop {
    width: 200px;
    height: 52px;
  }

  &--blue {
    display: none;
    width: 96px;
    height: 15px;

    @include tablet {
      width: 166px;
      height: 42px;
    }

    @include desktop {
      width: 200px;
      height: 52px;
    }
  }
}

.header__menu-toggle {
  position: relative;

  width: 25px;
  height: 25px;
  margin-left: auto;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: $color-grey-greaterly;
    border-radius: 1.5px;
  }

  &::before {
    top: 7px;
  }

  &::after {
    top: auto;
    bottom: 7px;
  }

  &--opened {
    &::before {
      top: 11px;
      height: 2px;

      transform: rotate(-45deg);
    }

    &::after {
      top: 11px;
      height: 2px;

      transform: rotate(45deg);
    }
  }

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    display: none;
  }
}

.header__user-navigation {
  grid-column: 1/-1;

  display: none;

  @include tablet {
    grid-column: 3/-1;
    grid-row: 1/2;

    display: flex;

    margin-left: auto;
  }

  @include desktop {
    order: 4;

    margin-left: 0;
  }
}

.header__user-navigation-button {
  align-items: center;

  margin-bottom: 50px;

  @include tablet {
    margin: 0;

    @include font(20px, 20px, $font-weight-bold);
  }
}

.header__contacts {
  display: none;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;

  @include tablet {
    order: 3;
    padding-left: 60px;
    padding-bottom: 130px;
  }

  @include desktop {
    order: 3;
    display: flex;

    margin: 0 0 0 auto;
    padding: 0;
  }
}

.header__telephone,
.header__email {
  display: flex;
  align-items: center;

  color: $color-blue-cobalt;

  @include tablet {
    @include font(28px, 28px, $font-weight-bold);
  }

  &--full {
    margin-left: 15px;

    @include desktop {
      display: none;
    }
  }

  &::before {
    width: 45px;
    height: 45px;
    margin-right: 16px;

    @include tablet {
      width: 68px;
      height: 68px;

      margin-right: 25px;
    }

    @include desktop {
      width: 50px;
      height: 50px;

      margin-right: 0;
    }
  }
}

.header__telephone-image,
.header__mail-image {
  width: 45px;
  height: 45px;

  @include tablet {
    width: 68px;
    height: 68px;
  }

  @include desktop {
    width: 50px;
    height: 50px;
  }
}

.header__social {
  display: none;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    order: 4;
    justify-content: start;

    padding-left: 80px;
  }
}

.header__social-link {
  width: 21px;
  height: 21px;

  margin-right: 20px;

  text-align: center;

  @include tablet {
    width: 28px;
    height: 28px;

    margin-right: 35px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.header__social-link svg {
  width: 21px;
  height: 21px;

  @include tablet {
    width: 28px;
    height: 28px;
  }
}
