@import "../common/variables";
@import "../common/mixins";

.hero {
  padding-bottom: 39px;

  color: $color-white;

  background-color: $color-blue-sapphire;

  @include tablet {
    padding-bottom: 95px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include desktop {
    padding-bottom: 125px;
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero__title {
  margin: 0;
  padding: 21px 16px 10px;

  @include font(36px, 40px, $font-weight-bold);
  text-align: center;

  @include tablet {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 30px;

    @include font(60px, 70px, $font-weight-bold);
  }

  @include desktop {
    margin: 0;
    padding: 100px 60px 100px 70px;

    text-align: left;
  }
}

.hero__image {
  @include tablet {
    align-self: end;

    width: 372px;
    height: 451px;
    padding-right: 70px;
  }

  @include desktop {
    position: absolute;
    left: 546px;

    width: 431px;
    height: 640px;
    padding: 0;

    z-index: 0;
  }
}

.hero__contacts {
  display: flex;
  flex-wrap: wrap;
}

.hero__phone {
  &::before {
    width: 40px;
    height: 40px;
    margin-right: 0;

    background-color: $color-orange;
    border-radius: 20px;
  }
}

.hero__email {
  &::before {
    width: 40px;
    height: 40px;
    margin-right: 0;

    background-color: $color-yellow-saffron;
    border-radius: 20px;
  }
}

.hero-quote {
  @include tablet {
    position: absolute;
    bottom: 210px;

    padding-left: 30px;
  }

  @include desktop {
    position: static;

    padding: 110px 25px 115px 60px;
  }
}

.hero__button-round {
  padding: 11px 28px 9px 29px;
  box-sizing: border-box;

  line-height: 20px;
}
