@import "../common/variables";
@import "../common/mixins";

.hero {
  position: relative;
  padding-bottom: 39px;
  z-index: 7;

  color: $color-white;

  background-color: $color-blue-sapphire;

  @include tablet {
    padding-bottom: 95px;

    background-color: $color-cobalt-blue;
  }

  @include desktop {
    min-height: 625px;
    padding-bottom: 0;

    background-color: $color-blue-sapphire;
    background-image: url("../../img/hero-bg-desktop@1x.png");
    background-repeat: no-repeat;
    background-position-y: -110px;
    background-size: cover;
    border-radius: 0 0 50px 50px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //padding: 0;
}

.hero__wrapper {
  position: relative;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero__bg-wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
  background-image: url("../../img/hero-bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/hero-bg-mobile@2x.jpg");
  }

  @include tablet {
    background-image: url("../../img/hero-bg-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/hero-bg-tablet@2x.jpg");
    }
  }

  @include desktop {
    //background-image: url("../../img/hero-bg-desktop@1x.jpg");
    background-image: none;
  }
}

.hero__title {

  min-width: 240px;
  margin: 0 auto;
  padding: 21px 16px 10px;

  @include font(36px, 40px, $font-weight-bold);
  text-align: center;

  @include tablet {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 30px;

    @include font(60px, 70px, $font-weight-bold);
  }

  @include desktop {
    margin: 0;
    padding: 85px 60px 105px 67px;

    text-align: left;
  }
}

.hero__bg-wrapper picture {
  margin-left: auto;
  margin-right: 23px;
  margin-bottom: -5px;

  @include tablet {
    margin-right: 110px;
  }
}

.hero__image {
  @include tablet {
    align-self: end;

    width: 372px;
    height: 451px;
    margin-left: 245px;
    margin-bottom: 140px;
  }

  @include desktop {
    position: absolute;
    top: -15px;
    left: 545px;

    width: 431px;
    height: 640px;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;

    z-index: 0;
  }
}

.hero__button-round {
  padding: 11px 28px 9px 29px;
  box-sizing: border-box;

  line-height: 20px;
}
