@import "../common/variables";
@import "../common/mixins";

.page__title-wrapper {
  position: relative;

  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 2;

  background-color: $color-cobalt-blue;
  border-radius: 0 0 20px 20px;

  @include tablet {
    padding: 50px 0 0;

    border-radius: 0 0 60px 60px;
  }
}

.page__title-wrapper .container {
  @include tablet {
    @include container($width-tablet, 75px);
  }

  @include desktop {
    @include container($width-desktop, 125px);
  }
}

.page__title {
  padding-top: 35px;
}
