@import "../common/variables";
@import "../common/mixins";

.profile {
  position: relative;

  margin-top: -20px;

  z-index: 3;

  @include font(16px, 16px, $font-weight-light);
  color: $color-black-bluish;

  background-color: $color-grey-lavender;
  border-radius: 0 0 25px 25px;
}

.profile__container {
}

.profile__wrapper {
  padding: 37px 0 37px 25px;
}

.profile__title {
  max-width: 150px;
  margin: 0;

  color: $color-orange;
  word-wrap: break-word;
}

.profile__wrapper-logo {
  position: relative;

  width: 100px;
  height: 100px;

  background-color: $color-white;
  border-radius: 50px;
}

.profile__currency {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  @include font(21px, 21px, $font-weight-bold);

  background-color: $color-yellow-sunrise;
  border-radius: 17px;
}

.profile__modal .container {
  @include mq(270px, 25px);
  min-width: 270px;

  @include mq($width-tablet) {
    max-width: 750px;

    @include container(688px, 40px);
  }
}

.profile__modal-title {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 34px 0 28px 0;

  color: $color-orange;

  @include mq($width-tablet) {
    @include font(45px, 45px, $font-weight-bold);
  }
}
