@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.travellers {
  padding-bottom: 46px;
}

.travellers__cards-list {
  margin-bottom: 20px;
}

.travellers__user-card {
  padding: 15px 0;

  border-radius: 20px;
}

.travellers__user-card-wrapper {
  justify-content: space-between;
  align-items: start;

  margin-bottom: 15px;
  padding: 0 20px;
}

.travellers__user {
  display: flex;
  flex-direction: column;
}

.travellers__user-wrapper {
  flex-grow: 1;
  align-items: baseline;

  margin-left: 15px;
}

.travellers__tags-list {
  justify-content: start;

  margin-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.travellers__travel-list {
  justify-content: start;
}

.travellers__travel-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  margin: 0;

  background-color: $color-white-smoky;
  border-radius: 50%;
}

.travellers__level {
  width: 45px;
  height: 45px;

  background-color: $color-white;
}

.travellers__level-number {
  border: none;
}

.travellers__level-text {
  display: none;
}

.travellers__button {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}
