@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.user-profile {
  margin-top: -20px;
  margin-bottom: -20px;

  background-color: $color-white-smoky;
}

.user-profile__container {
  padding-top: 45px;
  padding-bottom: 55px;

  @include desktop {
    padding-top: 95px;
    padding-bottom: 75px;
  }
}

.user-profile .user-card {
  background-color: $color-white-smoky;

  padding-bottom: 0;

  @include tablet {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.user-profile__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  align-items: center;

  @include tablet {
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 60px;
  }

  @include desktop {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 140px;
  }
}

.user-profile__level {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  background-color: transparent;
  border-radius: 50px;

  @include desktop {
    position: absolute;
    top: -200px;
    right: 230px;

    z-index: 2;
  }
}

.user-profile__level .level__number {
  @include font(38px, 38px, $font-weight-bold);
  border-color: rgba($color-black-bluish, 0.3);

  @include desktop {
    color: $color-white;
  }
}

.user-profile__level .level__text {
  margin-top: 6px;

  @include font(18px, 18px, $font-weight-normal);

  @include desktop {
    color: $color-white;
  }
}

.level__circle--form {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;
  z-index: 1;

  transform: rotate(-90deg);
}

.user-profile__card picture {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.user-profile__photo {
  border-radius: 50%;

  @include tablet {
    border-radius: 7px;
  }

  @include desktop {
    position: absolute;
    top: -265px;
    right: 0;

    width: 190px;
    height: 190px;
    z-index: 2;

    border-radius: 10px 10px 0 0;
  }
}

.user-profile__change-photo {
  display: none;
}

.user-profile__wrapper {
  grid-column: 1/-1;

  position: relative;
  width: 100%;
  margin-top: 12px;
  padding: 27px 25px 20px;

  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-radius: 10px;

  @include desktop {
    grid-column: auto;
  }
}

.user-profile__travel-wrapper {
  margin-top: 4px;
  padding: 15px;

  @include tablet {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.user-profile__legend {
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;

  width: fit-content;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 17px;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;
  color: $color-blue-ocean;

  background-color: $color-white-smoky;

  @include tablet {
    top: auto;
    bottom: -10px;

    @include font(20px, 20px, $font-weight-medium);
  }
}

.user-profile__tags-editor {
  width: 100%;
  min-height: 35px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;

  @include font(16px, 18px, $font-weight-normal);
  color: rgba($color-black-bluish, 0.6);

  background-color: transparent;
  border: none;

  @include tablet {
    @include font(20px, 22px, $font-weight-normal);
  }
}

.user-profile__travel-list .travel-list__item {
  width: 32px;
  height: 32px;
  margin-right: 0;

  background-color: $color-white;
  border-radius: 16px;
}
