@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.user-profile__container {
  background-color: $color-white-smoky;
}

.user-profile__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 34px;

  background-color: inherit;
}

.user-profile__level {
  width: 100px;
  height: 100px;

  background-color: transparent;
  border-radius: 50px;
}

.user-profile__level .level__number {
  @include font(38px, 38px, $font-weight-bold);
  border-color: rgba($color-black-bluish, 0.3);
}

.user-profile__level .level__text {
  margin-top: 6px;

  @include font(18px, 18px, $font-weight-normal);
}

.user-profile__photo {
  object-fit: contain;
}

.user-profile__change-photo {
  display: none;
}

.user-profile__wrapper {
  position: relative;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-radius: 10px;
}

.user-profile__legend {
  position: absolute;
  top: -9px;

  display: flex;
  width: fit-content;

  margin: 0;
  padding-left: 17px;
  padding-right: 17px;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;
  color: $color-blue-ocean;

  background-color: $color-white-smoky;
}

.user-profile__tags-editor {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;

  @include font(16px, 18px, $font-weight-normal);
  color: rgba($color-black-bluish, 0.6);

  background-color: transparent;
  border: none;
}

.user-profile__travel-list .travel-list__item {
  width: 32px;
  height: 32px;
  margin-right: 0;

  background-color: $color-white;
  border-radius: 16px;
}
