@import "source/sass/common/variables";
@import "source/sass/common/mixins";

.user-profile {
  position: relative;

  margin-top: -20px;
  margin-bottom: -20px;
  z-index: 1;

  background-color: $color-white-smoky;
}

.user-profile__container {
  padding-top: 40px;
  padding-bottom: 55px;
}

.user-profile .user-card {
  background-color: $color-white-smoky;

  padding-bottom: 0;
}

.user-profile__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  align-items: center;
}

.user-profile .level {
  width: 100px;
  height: 100px;
  margin: 0 auto;

  background-color: transparent;
  border-radius: 50px;
}

.user-profile__level .level__number {
  @include font(38px, 38px, $font-weight-bold);
  border-color: rgba($color-black-bluish, 0.3);
}

.user-profile__level .level__text {
  margin-top: 6px;

  @include font(18px, 18px, $font-weight-normal);
}

.user-profile__photo {
  margin: 0 auto;
  object-fit: contain;

  border-radius: 50%;
}

.user-profile__change-photo {
  display: none;
}

.user-profile__wrapper {
  grid-column: 1/-1;

  position: relative;
  width: 100%;
  padding: 25px 26px;
  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-radius: 10px;
}

.user-profile__legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: fit-content;
  margin: -35px auto 20px;
  padding-left: 17px;
  padding-right: 17px;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;
  color: $color-blue-ocean;

  background-color: $color-white-smoky;
}

.user-profile__tags-editor {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;

  @include font(16px, 18px, $font-weight-normal);
  color: rgba($color-black-bluish, 0.6);

  background-color: transparent;
  border: none;
}

.user-profile__travel-list .travel-list__item {
  width: 32px;
  height: 32px;
  margin-right: 0;

  background-color: $color-white;
  border-radius: 16px;
}
