@import "../../common/variables";
@import "../../common/mixins";

.footer {
  position: relative;

  z-index: 1;

  background-color: $color-white;
  border-radius: 25px 25px 0 0;
}

.footer__logo-link {
  display: inline-block;

  padding: 37px 87px 40px 87px;
}

.footer__social {
  padding: 0 68px 37px 67px;
}

.footer__social .social__link {
  width: 45px;
  height: 45px;
  margin-right: 0;

  background-color: $color-yellow-sunrise;
  border-radius: 22px;
}
