@import "../../common/variables";
@import "../../common/mixins";

.page__main {
  background-color: $color-white-smoky;
}

.page__title-wrapper {
  min-width: 320px;
  margin: 0 auto;

  background-color: $color-white-smoky;
}
