@import "../../common/variables";
@import "../../common/mixins";

.price-list {
  margin: 0 0 31px;
  padding: 13px 0 15px 25px;

  list-style: none;
}

.price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(1) .price-list__item-number {
    background-color: $color-orange;
  }

  &:nth-child(2) .price-list__item-number {
    background-color: $color-yellow-saffron;
  }

  &:nth-child(3) .price-list__item-number {
    background-color: $color-yellow-sunrise;
  }
}

.price-list__item-text {
  margin: 0;
}

.price-list__item-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  font-weight: $font-weight-normal;
  color: $color-white;

  border-radius: 17px;
}
