@import "../../common/variables";
@import "../../common/mixins";

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0 36px 15px 46px;

  @include font(16px, 18px, $font-weight-normal);
  list-style: none;
}

.tags-list__item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.tags-list__link {
  color: $color-black-bluish;
}
